.frozen-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 2000000000;
}

.full-width {
  width: 100%;
}

.mdl-card {
  &.queue-card {
    min-height: 100px;
    bottom: 0px;
    transition: 0.5s;
  }

  &.queue-card:hover {
    bottom: 0px;
    transition: 0.5s;
  }
}

.video-item {
  width: 116px;
  margin: 0px 5px;
  padding: 5px;
  float: left;

  &.selected {
    background-color: lightgray;
  }

  .video-thumb {
    width: 100%;
  }

  .video-title {
    font-size: 13px;
    // Make sure the text is truncated with an ellipsis
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// Thumbnail Bootstrapping classes
.contains-addto:hover {
  .video-actions.ytq-add-to-queue {
    right: 25px;
  }
}

button.ytq-add-to-queue {
  width: 5px;
  height: 22px;
  color: rgb(105, 105, 105);

  &:hover {
    color: rgb(77, 77, 77);
  }
}

.ytq-add-to-queue-icon {
  position: relative;
  right: 11px;
  bottom: 2px;
}
