@import 'thumbnails';

$hover-color: #F3F3F3;
$dark-hover-color: #ECECEC;

.frozen-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 2000000000;
}

.full-width {
  width: 100%;
}

#queue-widget {
  .mdl-grid {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

#video-container {
  white-space: nowrap;
  overflow: scroll;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 10px;
  background-color: #DDD;
}

.mdl-card {
  &.queue-card {
    min-height: 100px;
    bottom: 0px;
    transition: 0.5s;
  }

  &.queue-card:hover {
    bottom: 0px;
    transition: 0.5s;
  }
}

.video-item {
  position: relative;
  display: inline-block;
  width: 116px;
  height: 100px;
  margin: 0px 5px;
  padding: 5px;
  white-space: normal;
  background-color: white;

  &.selected {
    background-color: lightgray;
  }

  &:hover {
    background-color: $hover-color;
  }

  .video-thumb {
    width: 100%;
  }

  .video-title {
    font-size: 13px;
    // Make sure the text is truncated with an ellipsis
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:not(:hover) .delete-video-item {
    display: none;
  }
  .delete-video-item {
    position: absolute;
    z-index: 1;
    top: -7px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $hover-color;

    i {
      color: #AAA;
      font-size: 20px;
      cursor: default;
    }

    &:hover {
      background-color: $dark-hover-color;

      i {
        color: #777;
      }
    }
  }
}
