<div id='video-item-{{video.id}}'
     class="video-item {{#if selected}}selected{{else}}sortable{{/if}} mdl-shadow--4dp">
  <span class='delete-video-item mdl-shadow--4dp'
        on-click='delete-video'>
    <i class="material-icons">close</i>
  </span>
  <a title="{{video.title}}"
     href="https://www.youtube.com/watch?v={{video.id}}">
    <img class="video-thumb"
         src="{{video.thumbnails.medium.url}}" />
    <div class="video-title">
      {{video.title}}
    </div>
  </a>
  <div class="channel-title" title="{{video.channelTitle}}">
    {{video.channelTitle}}
  </div>
</div>
