<div id="queue-widget" class="mdl-card mdl-shadow--16dp queue-card frozen-footer">
  <div class="mdl-grid full-width">
    <div id="queue-controls" class="mdl-cell mdl-cell--1-col">
      {{#if playing}}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
                on-click="pause-queue">
          <i class="material-icons">pause</i>
        </button>
      {{else}}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
                on-click="play-queue">
          <i class="material-icons">play_arrow</i>
        </button>
      {{/if}}
    </div>
    <div id="video-container" class="mdl-cell mdl-cell--11-col">
      <videoqueue playing={{playing}} />
    </div>
  </div>
</div>
