<div id="queue-widget" class="mdl-card mdl-shadow--16dp queue-card frozen-footer">
  <div class="full-width">
    <div id="queue-controls" class="">
      <div>
        <button id='skip-btn' class="queue-action-button mdl-button"
                on-click="skip-video">
          <i class="material-icons">skip_next</i>
        </button>
      </div>
      <div>
        {{#if playing}}
          <button id='play-btn' class="queue-action-button mdl-button"
                  on-click="pause-queue">
            <i class="material-icons">pause</i>
          </button>
        {{else}}
          <button id='play-btn' class="queue-action-button mdl-button"
                  on-click="play-queue">
            <i class="material-icons">play_arrow</i>
          </button>
        {{/if}}
      </div>
    </div>
    <div id="video-container" class="">
      <videoqueue playing={{playing}} />
    </div>
  </div>
</div>
